<nav class="navbar navbar-expand-lg navbar-light bg-info  fixed-top" 
style="background-color: #023d5d;">
    <a class="navbar-brand" href="{% url 'corona:index' %}">Corona Test</a>
    <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
      <span class="navbar-toggler-icon"></span>
    </button>
  
    <div class="collapse navbar-collapse" id="navbarSupportedContent">
      <ul class="navbar-nav mr-auto">
        <li class="nav-item active">
          <a class="nav-link" href="{% url 'corona:index' %}">
            <i class="fa fa-home" aria-hidden="true"></i> Home 
            <span class="sr-only">(current)</span></a>
        </li>
        <li class="nav-item">
          <a class="nav-link" href="{% url 'corona:PatientListView' %}">All Result (For Admin)</a>
        </li>
      </ul>
    </div>
  </nav>